<div id="cookieBanner" data-component-name="{{ __SELF__ }}" class="row text-center" style="display: none;">
    <p>
        <strong>{{ 'This website uses two types of third party cookies to provide highest quality of service.'|_ }}</strong>
    </p>
    <p><input class="cookieConsents" type="checkbox" name="common_cookies" checked="checked" disabled="disabled"/>
        Internal cookies required for proper website display and caching.</p>
    {% for cookie_rule in cookie_rules %}
        <p><input class="cookieConsents" id="{{ cookie_rule.slug }}CookieInput" type="checkbox"
                  name="{{ cookie_rule.slug }}"/> {{ cookie_rule.description }}</p>
    {% endfor %}
    <br/>
    <div id="cookieBannerActions" class="row text-center">
        <div class="col-xs-6">
            <a class="btn btn-primary" href="/privacy" title="Privacy Terms" target="_blank">Read more</a>
        </div>
        <div class="col-xs-6">
            <div id="cookieBannerClose"><a href="#" class="btn btn-primary">Confirm</a></div>
        </div>
    </div>
</div>
{% put scripts %}
<script src="/plugins/viamage/gdprhelper/assets/js/cookie.min.js"></script>
<div id="cookie_scripts"></div>
{% endput %}