<?php Block::put('breadcrumb') ?>
<ul>
    <li><a href="<?= Backend::url('viamage/gdprhelper/scriptrules') ?>"><?= e(trans('viamage.gdprhelper::lang.scriptrules.menu_label')) ?></a></li>
    <li><?= e(trans($this->pageTitle)) ?></li>
</ul>
<?php Block::endPut() ?>
<?= $this->reorderRender() ?>